body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #4caf50;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.container:hover {
  transform: scale(1.02);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4caf50;
}

.select-style {
  width: 100%;
  position: relative;
}
.year {
  width: 100%;
  position: relative;
}

.select-style select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f3f3f3;
  appearance: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.select-style select:hover {
  background-color: #e9e9e9;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f3f3f3;
  appearance: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.3s ease;
}

input[type="number"]:focus {
  border: 1px solid #4caf50;
}
